* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-nav {
    height: 80px;
    background-color: aliceblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-input {
    height: 30px;
}

.magnify-glass {
    position: absolute;
    padding: 3.4px 10px;
    background-color: bisque;
}

.display {
    display: none !important;
}

@media screen and (max-width: 700px) {
    .input {
        display: none;
    }

    .display {
        display: block !important;
    /* }._5afdd59e{
        float: left; */
    }.main-nav {
        
    }
}

@media screen and (min-width: 700px) {
    .input {
        display: block !important;
    }

    .main-nav {
        height: 80px !important;
    }

    .display {
        display: none !important;
    }
}